Package: com.efrederickson.guestframework.plugins.phoneapp.mobilephonehelper
Name: LGPhoneAppHelper
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Elijah Frederickson
Author: Elijah Frederickson
Section: Tweaks
