<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.guestframework</string>
			<key>key</key>
			<string>disableSwitcher</string>
			<key>label</key>
			<string>Disable Switcher</string>
			<key>PostNotification</key>
			<string>com.efrederickson.guestframework/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.guestframework</string>
			<key>key</key>
			<string>blurDisabledApps</string>
			<key>label</key>
			<string>Blur disabled apps</string>
			<key>PostNotification</key>
			<string>com.efrederickson.guestframework/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.guestframework</string>
			<key>key</key>
			<string>disableClosingApps</string>
			<key>label</key>
			<string>Disable Closing Apps</string>
			<key>PostNotification</key>
			<string>com.efrederickson.guestframework/reloadSettings</string>
		</dict>
	</array>
</dict>
</plist>
