<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>title</key>
			<string>Guest Passcode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.guestframework</string>
			<key>key</key>
			<string>acceptCertainPassword</string>
			<key>label</key>
			<string>Guest Passcode</string>
			<key>PostNotification</key>
			<string>com.efrederickson.guestframework/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>1234</string>
			<key>defaults</key>
			<string>com.efrederickson.guestframework</string>
			<key>key</key>
			<string>guestPasscode</string>
			<key>label</key>
			<string>Passcode: </string>
			<key>PostNotification</key>
			<string>com.efrederickson.guestframework/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.guestframework</string>
			<key>key</key>
			<string>acceptAnyPassword</string>
			<key>label</key>
			<string>Any incorrect passcode</string>
			<key>PostNotification</key>
			<string>com.efrederickson.guestframework/reloadSettings</string>
		</dict>
	</array>
	<key>title</key>
	<string>Activation Methods</string>
</dict>
</plist>
